#fullpage__container{
  .section{
    .bg{
      position: absolute;
      top: 0;
      left:0;
      right:0;
      bottom:0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
    }
    .content{
      position: relative;
      z-index: 2;
      color: #fff ;
      text-align: center;
      width: 600px;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-100px);
      transition: all .3s ease;
      &.active{
        transform: none;
        opacity: 1;
        visibility: visible;
      }
      h2{
        font-size: 36px;
        font-weight: 600;
        margin: 0 0 20px;
      }
      .desc{
        font-size: 24px;
      }
    }
  }
  .slide{
    text-align: center;
  }

  .fp-controlArrow.fp-next{
    right: 60px;
  }

  .fp-controlArrow.fp-prev{
    left: 60px;
  }
}